body {
    background-color: #fff;
    font-family: "Lucida Grande", sans-serif;
    overflow-y: scroll;
}

#bio {
    font-size: 10pt;
    -apple-dashboard-region: dashboard-region(control rectangle 5px 5px 5px 5px);
}

#listeners {
    color: #cccccc;
    font-size: 8pt;
}

#artist {
    font-weight: bold;
}

#image {
    border: 1px solid #cccccc;
    padding: 1px;
    margin: 0 0.5em 0 0;
}

table {
    margin: 0 0 0.7em 0;
}

#subs-status-text {
    font-size: 8pt;
    color: #fff;
}

p {
    margin: 0;
    margin-bottom: 0.7em;
}